.exitBar {
    border: 1px solid #acacac;
    margin-top: 49px;
}
.hideResultSearch {
    position: absolute;
    height: 100%;
    width: 5px;
    right: -7px;
    top: 0;
    border-radius: 5px;
    cursor: var(--pointer);
}
.nextBarWebsite {
    position: absolute;
    left: 0;
    top: 56px;
    transform: rotate(180deg);
}
.hideResultSetting {
    width: 5px;
}
.bar {
    position: absolute;
    width: 15px;
    height: 30px;
    /* background-color: aqua; */
    top: calc(50% - 10px);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.oneBar {
    width: 2px;
    height: 100%;
    background-color: #acacac;
    margin-left: 4px;
}
.twoBar {
    width: 2px;
    height: 70%;
    background-color: #acacac;
    margin-left: 2px;
}
.notificationLeft,
.notificationRight,
.notificationTop,
.notificationBottom,
.sendBottom,
.sendTop,
.sendLeft,
.sendRight,
.scrollUpNews {
    position: absolute;
}
.notificationLeft {
    transform: rotateY(180deg);

    top: 220px;
    left: 0;
}
.notificationRight {
    top: 220px;
    right: 0;
}
.notificationTop,
.sendTop {
    transform: rotate(270deg);
}
.notificationBottom,
.sendBottom,
.scrollUpNews {
    transform: rotate(90deg);
}
.notificationTop {
    top: 0px;

    left: 145.5px;
}
.notificationBottom {
    bottom: 0;

    left: 154.5px;
}

.sendBottom {
    bottom: 0;
    left: 165.5px;
}
.sendTop {
    top: 0;
    left: 156.5px;
}
.sendLeft {
    transform: rotateY(180deg);
    top: 260px;
    left: 0;
}
.sendRight {
    top: 260px;
    right: 0;
}
.scrollUpNews {
    bottom: 0;

    right: 50%;
}
