.option {
    min-width: 270px;
    height: 500px;
    background-color: #202124;
    top: 0px;
    position: fixed;
    right: -270px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(108 106 106);
    transition: all 0.3s linear;
    display: flex;
    color: var(--color-text-light);
    z-index: 9999;
}
.showOption {
    right: 9px;
}
.closeOption {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    top: 11px;
    left: 11px;
    border-radius: 50%;

    &:hover {
        transition: all 0.1s linear;
        background-color: #3c4043;
    }
}
.optionsALL {
    flex-wrap: wrap;
    margin-top: 49px;

    width: 250px;
    box-shadow: 0 0 1px;
}
.options {
    display: flex;
    cursor: pointer;
    border-radius: 2px;
    &:hover {
        background-color: rgb(176 176 176 / 8%);
    }
}
.language {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 7px;
    font-size: 17px;
    .title {
        margin-left: 15px;
    }
    .currentLanguage {
        font-size: 12px;
        margin: 3px 0 0 3px;
        display: flex;
        align-items: self-end;
    }
}

.results {
    box-shadow: 0 0 1px;
    margin: 49px 13px 13px 13px;
    width: 177px;
    margin-top: 49px;
    overflow-y: overlay;
    background-color: #202124;
    padding: 5px;
    .title {
        transition: all 0.1s linear;
        width: 100%;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: rgba(176, 176, 176, 0.08);
        }
    }
}
