.close {
    width: 100%;
    height: 50px;
}

.nickName {
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Item', sans-serif;
}
.status {
    font-size: 14px;
    text-align: center;
}
