.homeCl {
    width: 200px;
    height: 50px;
    display: flex;
    color: var(--color-icon);
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 5px;
    transition: var(--transition-03s);
}

.exchangeCl {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    border-radius: 5px;
    color: var(--color-icon);
    transition: var(--transition-03s);
    span {
        display: inherit;
        align-items: inherit;
    }
}
.personalPageCl {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 80px;
    position: relative;
}
.exchangeI {
    font-size: 15px;
    margin: 0 5px;
    color: var(--color-icon);
}

.settingCl {
    background-color: transparent;
    color: var(--color-icon);
}
.connectworld {
    width: 189px;
    height: 200px;
    display: flex;
    font-size: 100px;
    margin: 0 10px 20px;
    padding: 0 30px 30px;
    background-color: rgb(22, 22, 22);
    border: 1px solid #313131;
    align-items: center;
    justify-content: center;
    cursor: var(--pointer);
    color: #414547;
    border-radius: 5px;
    position: relative;

    &:hover {
        background-color: rgb(116 116 116);
    }
}
.darkShining {
    background-color: rgb(47 47 47 / 39%);
}
.connectworld2 {
    width: 116px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: rgb(51 51 51);
    &:hover {
        background-color: rgb(38 37 37);
    }
}
.friend {
    font-size: 25px;
    display: flex;
    background: transparent;
}
.callVideo {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
