.avatarUser {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: var(--border-radius-50);
}
.moveAvatar {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 1px;
}
.background {
    // width: 100% !important;
    // height: 100% !important;
}
