.home {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background: #202124;
}
.news {
    width: 511px;
    height: 600px;
    margin: 50px;
    border-radius: 5px;
    background-color: rgb(26 27 30);
}
.upNews {
    width: 511px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input {
    width: 350px;
    padding: 11px 11px 11px 20px;
    color: #d5cdcd;
    border: 0;
    margin: 20px;
    background-color: rgb(52, 52, 52);
    border-radius: 50px;
}
.tools {
    display: flex;
    width: 70px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.upImage {
    display: flex;
    font-size: 25px;
    color: var(--color-icon);
    cursor: var(--pointer);
}
.signature {
    display: flex;
    align-items: center;
    font-size: 30px;
    cursor: var(--pointer);
}
.form {
    margin: 40px 0;
    background-color: rgb(26 27 30);
    border-radius: 5px;
    transition: var(--transition-03s);
}
.scroll {
    position: fixed;
    top: -65px;
}
.formChildren {
    position: relative;
}
.move {
    top: 12px;
}
