.formRegister {
    width: 400px;
    height: 600px;
    margin: auto;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
}
.title {
    width: 100%;
    text-align: center;
    color: var(--color-text);
}
.formGroup {
    width: 100%;
    margin: 20px 0;
    position: relative;
}
.password {
    display: flex;
    .checkInvalid,
    .checkValid {
        right: 10px;
    }
}
.gender {
    display: flex;
    input {
        display: none;
    }
}
.male,
.female,
.lgbt {
    width: 189px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #8686869e;
    color: var(--color-text);
    cursor: var(--pointer);
    &:hover {
        background-color: rgb(99, 99, 99);
    }
}
.lgbt {
    margin: 15px auto;
    justify-content: space-evenly;
    border-radius: 5px;
    color: var(--color-text);
    p {
        display: flex;
        color: var(--color-text);
    }
}
.option {
    background-color: rgb(99, 99, 99);
}
.btnSubmit {
    padding: 6px 30px 6px 30px;
    background-color: transparent;
    color: var(--color-text);
    border: 1px solid #8686869e;
    cursor: var(--pointer);
    position: relative;
}
.checkInvalid {
    font-size: 11px;
    text-align: left;
    color: rgb(255 142 142);
}

.checkInvalidP {
    color: rgb(255, 142, 142);
    font-size: 12px;
    width: 130px;
    margin: 0 0px 0 188px;
}

.phoneEmailI {
    right: 12px;
    top: 4px;
    font-size: 25px;
    position: absolute;
    color: var(--color-icon);
}
.checkAll {
    .check {
        border-color: rgb(248, 58, 58) !important;
    }
}
.check {
    border-color: rgb(248, 58, 58) !important;
}

.undo {
    font-size: 20px;
    top: 4px;
    left: -133px;
    color: white;
    cursor: var(--pointer);
    position: absolute;
}
