.background {
    height: 100%;
    width: 100%;
    background: #202124;

    position: fixed;
}

.formLogin {
    width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
}
.register {
    position: absolute;
    bottom: 31px;
    left: 32px;
    color: var(--color-text);
    cursor: var(--pointer);
    &:hover {
        text-decoration: underline;
        color: #fff;
    }
}
.title,
form {
    width: 100%;
}
.titleLogin {
    margin-top: 30px;
    color: #fff;
}
.account {
    margin: 10px;
    padding: 15px 20px;
    position: relative;
}

.changePassword {
    font-size: 12px;
    &:hover {
        color: rgb(255 255 255);
        text-decoration: underline;
    }
}
.eye,
.close {
    width: 30px;
    height: 30px;
    display: flex;
    right: 49px;
    top: 20px;
    font-size: 20px;
    color: var(--color-icon);
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: transparent;

    cursor: var(--pointer);
}

.texterror {
    font-size: 14px;
    color: rgb(173 25 217 / 82%);
}
.submit {
    padding: 5px 50px;
    margin: 30px;
    color: var(--color-text);
    border: 1px solid var(--color-text);
    cursor: var(--pointer);
    background-color: transparent;
}
.invalid {
    border: 1px solid rgb(255, 70, 70);
}
