@import 'normalize.css';

:root {
    --color-icon: #aeaeae;
    --color-text-light: #cbcbcb;
    --color-text-dark: #333;
    --border-radius-50: 50%;
    --pointer: pointer;

    --background-hover: #3c4043;
    --transition-03s: all 0.3s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

@font-face {
    font-family: Raleway;
    src: url('../assets/font-texts/Raleway-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Arima;
    src: url('../assets/font-texts/ArimaMadurai-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Saira;
    src: url('../assets/font-texts/Saira-VariableFont_wdth,wght.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Item;
    src: url(../assets/font-texts/Itim-Regular.ttf);
}
button {
    border: none;
}
input {
    outline: none;
}
p {
    font-size: 16px;
}
a {
    text-decoration: none;
    color: var(--color-text-light);
}
ul {
    list-style-type: none;
}

html *::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    border-radius: 0;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(131 131 131 / 63%);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.opacity {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #686767a1;
    top: 0;
    left: 0;
    right: 0;
    z-index: 110;
}
.Website {
    transition: var(--transition-03s);
}
